.form-field {
    display: flex;
}

.form-field label {
    width: 70px;
    display: inline-block;
    text-transform: capitalize;
}

.form-field .text-error {
    color: #ff1432;
    margin-left: 12px;
}

.hidden {
    display: none;
}
